/* 

*/

.board {
	width: 960px;
	margin: 10% auto;
	background-color: aliceblue;
	opacity: 0.8;
	box-shadow: 0px 0px 2px 2px #5d5c5c;
	text-align: center;
	padding: 20px;
}


div.tooltip {
	position: absolute;
	text-align: center;
	width: 100px;
	height: 20px;
	padding: 5px;
	background: #5d5c5c;
	border: 1px solid black;
	color: #fff;
	border-radius: 8px;
	pointer-events: none;
	opacity: 0;
}

.node circle {
	fill: #ccc;
	stroke: #fff;
	stroke-width: 1px;
}

.link line {
	stroke: #777;
	stroke-width: 1px;
}

footer {
	margin-top: 50px;
	text-align: center;
}